#run to update:  pip-compile requirements.in
pip-tools
datamodel-code-generator
ruamel-yaml
ruamel-yaml-clib
argparse
mypy
pyyaml
types-pyyaml
docker
pytest
pydantic
coverage
gitpython
types-requests
urllib3
python-jenkins